a.list-group-item.list-group-item-action {
    background-color: #c9c8c8;
}

.list-group.position-absolute.mt-1.w-100 {
    z-index: 1;
    display: none;
}

.list-group a:hover{
    color: blue;
}
.list-group>li:hover .list-group.position-absolute.mt-1.w-100{
    display: block;
    color: blue;
}

.list-group>li>a{
    font-weight: 600;
}

ul.list-group.position-absolute.mt-2>li{
    background-color: #c9c8c8;
    display: none;
}

.list-group .header-c3:hover .header-c3-out>li{
    display: block;
}

.list-group a{
    font-size: 15px;
}

.img-header{
    height: 70px;
}