/* css for header */
.container {
    max-width: 100%;
    padding: 0;
}

.navbar {
    height: 90px;
    text-transform: uppercase;
}
.navbar>ul>li{
    margin-right: 20px;
}

/* css for img */
.navbar-brand img{
    height: 70px;
    width: 244px;
}

.navbar-brand{
    padding-left: 60px;
}

/* css for header hover */
.list-group{
    display: none;
    /* position: absolute;
    width: max-content;
    border-radius: 0 !important; */
    
}
.list-group>li{
    background-color: #cccc;
}

.nav-item{
    position: relative;
    display: block;
    margin-right: 20px;
}


/* .nav-item a:hover .list-group{
    display: flex;
    color: blue;
    background-color: black;
    position: absolute;
    width: max-content;
    border-radius: 0 !important;
} */

.navbar-nav li a:hover{
    color: blue !important;
}
.navbar-nav li a:hover .list-group{
    display: flex !important;
    color: blue;
    background-color: black;
    position: absolute;
    width: max-content;
    border-radius: 0;
}