*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.header{
    height: 90px;
    width: 100%;
    background-color: antiquewhite;
}

.header-content{
    display: flex;
    justify-content:space-around;
}

/* css header img */
.header-img{
    width: 264px;
    height: 90px;
}